<h3>Player List:</h3>
<% if current_user == @game.host %>
  <i class="notes">Click player name to remove from game.</i>
<% end %>
<br/>
<% @game.approved_players.each_with_index do |user, index| %>
  <%= index += 1 %>.
  <%=  @game.host != current_user ? user.name : (link_to user.name, approve_vote_path(user.votes.find_by_game_id @game),{ method: :post, remote: true }) %><br/>
<% end %>
<%= (@game.approved_players.count + 1).to_s + '.' if @game.status == "Signups Open" %>
<br/><br/>
<%= @game.player_cap %> of <%= @game.player_cap %> players remaining.
<% if current_user != @game.host %>
<br/><i class="notes">Note: If your name does not appear on the signup list, then your signup has not yet been approved by the host.</i>
<% end %>

<% if signed_in? && @game.status == "Signups Open" && @game.host != current_user %>
  <hr>
  <% if current_user.signups.exists?(@game) %>
    <%= link_to '/out', vote_path(id: @game.votes.find_by_user_id(current_user).id), method: :delete, class: "btn btn-small btn-primary" %>
  <% else %>
    <%= link_to '/in', votes_path(game_id: @game.id, user_id: current_user), method: :post, class: "btn btn-small btn-primary" %>
  <% end %>
<% end %>