<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= link_to 'Create New Game', new_game_path, class: "btn btn-primary" %>
    </section>
  </aside>
</div>

<div class="myGamesContainer">
  
  <table>
    <%= render 'games/index_header' %>

    <tr><td><b>Hosting:</b></td></tr>
    <% @user.games.each do |game| %>
      <%= render 'games/listing', game: game %>
    <% end %>

    <tr><td colspan="6"><b><hr>Playing:</b></td></tr>
    <% playing = @user.signups.sort_by { |option| [-option.signups, option.updated_at.to_i] } %>
    <% playing.each do |game| %>
      <%= render 'games/listing', game: game %>
    <% end %>

    <tr><td colspan="6"><b><hr>Other Games:</b></td></tr>
    <% otherGames = Game.all - @user.games - @user.signups %>
    <% otherGames.sort_by! { |option| -option[:signups] } %>
    <% otherGames.each do |game| %>
      <%= render 'games/listing', game: game %>
    <% end %>
  </table>
</div>