<tr class=<%= game.status %>>
  <% if signed_in? %> <!-- if signed in... -->
    <% if game.host == current_user %> <!-- if user is game host, show run/pause -->
      <td class="game_index_first_col"><%= link_to '/edit', edit_game_path(game.id), class: "btn btn-small" %></td>
    <% else %> <!-- if user is not game host... -->
      <% if game.players.exists?(current_user) %> <!-- ...and user is signed up, show /out -->
        <td class="game_index_first_col"><%= link_to '/out', vote_path(game.votes.find_by_user_id(current_user).id), method: :delete, class: "btn btn-small" if game.status_id == 1 %></td>
      <% else %> <!-- ...and user is not signed up, show /in -->
        <td class="game_index_first_col"><%= link_to '/in', votes_path(game_id: game.id, user_id: current_user), method: :post, class: "btn btn-small" if game.status == 'Signups Open' %></td>
      <% end %>
    <% end %>

  <% else %> <!-- if not signed in, no buttons -->
    <td class="game_index_first_col"></td>
  <% end %>

  </td><td class="categoryTag">
    <%= '[M]' if game.mini? %><%= game.category_tag %><%= '[I]' if game.invite? %>
  </td>
  <td><%= link_to game.title, game_path(id: game.id) %></td>
  <td><%= game.host.name %></td>
  <td><%= formattedStatus = game.players.count.to_s + '/' + game.player_cap.to_s + ' ' + game.status %></td>
  <td><%= '' %></td>
  <td><%= game.updated_at.strftime("%H:%M %b %d %Y") %></td>
</tr>