<div class="gamesContainer">
  <table>
    <%= render 'games/index_header' %>

  <% sortedGameList = @games.sort_by { |option| [-option.updated_at.to_i, -option.signups] } %>
  <% sortedGameList.each do |game| %>
    <% if !signed_in? %>
      <%= render partial: 'games/listing', locals: { object: game, body: false, path: false, action: false, confirmMessage: false } %>
    <% elsif game.host == current_user %>
      <%= render partial: 'games/listing', locals: { object: game, body: game.running ? '/pause' : '/run', path: run_game_path(game.id), action: :post, confirmMessage: false } %>
    <% elsif !game.votes.find_by_user_id(current_user.id).nil? %>
      <%= render partial: 'games/listing', locals: { object: game, body: '/out', path: vote_path(id: game.votes.find_by_user_id(current_user).id), action: delete, confirmMessage: false } %>
    <% else %>
      <%= render partial: 'games/listing', locals: { object: game, body: '/in', path: votes_path(game_id: game.id, user_id: current_user), action: :post, confirmMessage: false } %>
    <% end %>
  <% end %>
  </table>
</div>