<div class="post">
  <div class="post_owner">
    <h3><%= @game.host.name %> &nbsp; <%= @game.created_at.strftime("%H:%M %b %d %Y") %></h3>
  </div>
  <div class="gameDescription">
    <p><%= @game.description.html_safe %></p>
    <hr>
    <p>Category: <%= @game.category.name %>
    <p>Status: <%= @game.players.count.to_s + '/' + @game.maximum_players.to_s + ' ' + @game.status.name %></p>
    <div class="playerList">
      <h3>Player List:</h3>
      <br/>
      <% @game.players.each_with_index do |user, index| %>
        <%= index += 1 %>. <%= user.name %><br/>
      <% end %>
      <%= (@game.players.count + 1).to_s + '.' if @game.status_id == 1 %>
      <hr><%= @game.maximum_players %> of <%= @game.maximum_players %> players remaining.
    </div>
    <% if !host? %>
      <%= render 'signup_buttons' %>
    <% end %>
  </div>
</div>