<% provide(:title, 'Edit game') %>
<h1>Edit Game</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@game) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :player_cap %>
      <%= f.text_field :player_cap %>

      <%= f.label :category %>
      &nbsp; <%= f.radio_button :category, 'Normal', checked: true %> Normal Game<br/>
      &nbsp; <%= f.radio_button :category, 'Themed' %> Themed Game<br/>
      &nbsp; <%= f.radio_button :category, 'Newbie' %> Newbie Game<br/><br/>
      Invite Game: <%= f.check_box :invite %> (If checked, players are not put on the signup list until approved).<br/>


      <br/>
      <%= f.submit "Edit Game", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>