<% provide(:title, 'Add game') %>
<h1>Add Game</h1>

<hr>
<% if params[:preview] %>
<b>Preview:</b>

<div class="posts_container">
  <div class="post_content">
    <%= @post.content.bbcode_to_html.html_safe %>
  </div>
</div>
<br/>
<% end %>

<div class="row">
  <div class="span6 offset2">
    <%= form_for(@game) do |f| %>
      <%= render "shared/error_messages", object: f.object %> 
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= fields_for(:post) do |post| %>
        <%= post.label :content, "Message" %>
        <%= post.text_area :content %>
      <% end %>

      <div id="game_form">
        <%= fields_for(:game) do |game| %>
          <%= game.label :player_cap %>
          <%= game.number_field :player_cap %>

          <%= game.label :category %>
          &nbsp; <%= game.radio_button :category, 'Normal', checked: true %> Normal Game<br/>
          &nbsp; <%= game.radio_button :category, 'Themed' %> Themed Game<br/><br/>
          Invite Game: <%= game.check_box :invite %> (If checked, players are not put on the signup list until approved).<br/>
        <% end %>
      </div>

      <br/>

      <%= f.submit "Post", class: "btn btn-large btn-primary" %>
      <%= f.submit "Preview", name: 'preview', class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>