<div class="post">
  <div class="post_header">
    <table>
      <tr>
        <td class="post_owner"><%= post.owner.name %> &nbsp; <%= post.created_at.strftime("%H:%M %b %d %Y") %></td>
        <td class="post_options">
          <%= link_to 'Quote', quote_game_post_path(game_id: post.game_id, id: post), method: :get if signed_in? %>
          <%= link_to 'Edit', edit_game_post_path(game_id: post.game_id, id: post), method: :get if post.owner == current_user %>
        </td>
      </tr>
    </table>
  </div>
  <div class="post_content">
    <%= post.content.bbcode_to_html.html_safe %>
    <% if post.updated_at != post.created_at %>
      <br/>
      <div class="edit_time">
        <i><%= "Last edit: " + post.updated_at.strftime("%H:%M %b %d %Y") %></i>
      </div>
    <% end %>
  </div>
</div>