<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "TL Mafia Queue", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Admin", admin_path if current_user.admin? %></li>
            <li><%= link_to "My Games", mygames_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Signup", signup_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Sign in <b class="caret"></b>
              </a>
              <div class="dropdown-menu" id="signin">
                <%= form_for(:session, url: sessions_path) do |f| %>
                  <%= f.text_field :name, placeholder: 'Username' %>

                  <%= f.password_field :password, placeholder: 'Password' %>
                  <%= check_box_tag :remember_me, class: 'checkbox' %>
                  <%= label_tag :remember_me, nil, class: 'checkbox' %><br/>
                  <%= f.submit "Sign in", class: "btn btn-primary" %>
                <% end %>
              </ul>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>